@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input {
		@apply appearance-none bg-inherit outline-none text-inherit caret-black focus:outline-none placeholder:text-inherit placeholder:opacity-60 w-full
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		appearance: textfield;
	}
	.form-col { 
		> label:not(:first-child) {
			@apply mt-4;
		}
		> button:not(:first-child) {
			@apply mt-6
		}
	}
	a {
		@apply select-none
	}
	.base-text {
		@apply text-base leading-tight sm:text-lg sm:leading-tight font-normal;
	}
	.title-text {
		@apply text-xl font-medium sm:text-2xl leading-normal sm:leading-normal
	}
	.base-padding {
		@apply px-2.5 py-2;
	}
}

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	
	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}	
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
	font-style: normal;
	background: rgb(231,253,255);
	background: linear-gradient(90deg, rgba(231,253,255,1) 0%, rgba(255,255,255,1) 45%, rgba(214,252,255,1) 100%);
	color: black;
	min-width: 320px;
	margin: 0 auto;
}

@media(min-width: 1024px) {
	body, body > div {
		width: 100vw;
		height: 100dvh;
		height: 100vh;
		overflow: hidden;
	}	
}

@media(max-width: 1024px) {
	body {
		padding-bottom: 4rem;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn-loader {
	figure {
		opacity: 0;
	}
	span {
		opacity: 1;
	}
	&.loading {
		figure {
			opacity: 1;
		}
		span {
			opacity: 0;
		}	
	}
}

.hidden-opacity {
	@apply pointer-events-none opacity-0;
	visibility: hidden;
	z-index: -1;
	transition:
		opacity 0.3s,
		visibility 0.3s 0.3s,
		z-index 0.3s 0.3s;
	&.opened {
		@apply opacity-100;
		z-index: var(--z-index, 30);
		pointer-events: unset;
		visibility: unset;
		transition:
			opacity 0.3s,
			z-index 0s,
			visibility 0s;
	}
}